# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
build/
*.local

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Optional
*.zip
